extends ./template/header

block contents
  div#contents
    div.mdl-grid
      div.mdl-layout-spacer
      div.mdl-cell.mdl-cell--4-col
        div.mdl-textfield.mdl-js-textfield
          input#search-input.mdl-textfield__input(type="text")
          label.mdl-textfield__label(for="service") カロリーを調べたい項目
      div.mdl-layout-spacer
    div#result.mdl-grid
